<?xml version="1.0" encoding="utf-8"?>
<widget id="com.mhotels" version="2.1.6" xmlns="http://www.w3.org/ns/widgets">
    <name> Montepulciano Hotels
</name>
    <description> Montepulciano Hotels</description>
	
	
	
<plugin name="org.apache.cordova.inappbrowser" spec="0.4.1" source="pgb" />


  <access origin="*" />
	

	<icon src="icon.png" />
    <author href="http://montepulcianohotels.it" email="info@montepulcianohotels.it"> Montepulciano Hotels</author>
    <access origin="http://*/*" />
    <access origin="https://*/*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="market:*" launch-external="yes" />
    <content src="index.html" />
    <preference name="loglevel" value="DEBUG" />
	<preference name="Fullscreen" value="true" />
	<preference name="SplashScreen" value="screen"/>
	 <splash src="splash.png" density="land-hdpi"/>
    <splash src="splash.png" density="land-ldpi"/>
    <splash src="splash.png" density="land-mdpi"/>
    <splash src="splash.png" density="land-xhdpi"/>
    <splash src="splash.png" density="port-hdpi"/>
    <splash src="splash.png" density="port-ldpi"/>
    <splash src="splash.png" density="port-mdpi"/>
    <splash src="splash.png" density="port-xhdpi"/>
</widget>
