<system.webServer>
    <httpErrors errorMode="Custom">
        <remove statusCode="400" subStatusCode="-1" />
        <error statusCode="400" prefixLanguageFilePath="" path="/400.html" responseMode="ExecuteURL" />
		<remove statusCode="403" subStatusCode="-1" />
        <error statusCode="403" prefixLanguageFilePath="" path="/403.html" responseMode="ExecuteURL" />
		<remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
		<remove statusCode="500" subStatusCode="-1" />
        <error statusCode="500" prefixLanguageFilePath="" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>
<system.webServer>